<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".TKApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2515116623705756~7676003940" />

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:label="动画"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FrameAnimActivity"
            android:label="逐帧动画"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TweenAnimActivity"
            android:label="补间动画"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PropertyAnimActivity"
            android:label="属性动画"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.LottieAnimActivity"
            android:label="Lottie动画"
            android:screenOrientation="portrait" />

        <!--逐帧动画-->
        <activity
            android:name=".activity.frame.Frame_1_Activity"
            android:label="打卡7"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.frame.Frame_2_Activity"
            android:label="橘子娱乐"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.frame.Frame_3_Activity"
            android:label="世纪佳缘"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.frame.Frame_4_Activity"
            android:label="loading"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.frame.Frame_5_Activity"
            android:label="bolo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.frame.Frame_6_Activity"
            android:label="cross anim"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.frame.Frame_7_Activity"
            android:label="vision"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.frame.Frame_8_Activity"
            android:label="mouxiu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.frame.Frame_9_Activity"
            android:label="dripper"
            android:screenOrientation="portrait" />


        <!--渐变动画 -->
        <activity
            android:name=".activity.tween.TweenAlphaActivity"
            android:label="渐变动画"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tween.alpha.OtherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tween.alpha.TranslateActivity"
            android:label="翻译君"
            android:screenOrientation="portrait" />


        <!--缩放动画-->
        <activity
            android:name=".activity.tween.TweenScaleActivity"
            android:label="缩放动画"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tween.scale.CupidActivity"
            android:label="丘比特之箭"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tween.scale.QimangxingActivity"
            android:label="启芒星"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tween.scale.WeizhiActivity"
            android:label="微知"
            android:screenOrientation="portrait" />

        <!--平移动画-->
        <activity
            android:name=".activity.tween.TweenTranslateActivity"
            android:label="平移动画"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tween.translate.ShakeActivity"
            android:label="摇一摇"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tween.translate.HeartActivity"
            android:label="飘心"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tween.translate.FidoActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="Fido"
            android:theme="@style/fido" />


        <!--旋转动画-->
        <activity
            android:name=".activity.tween.TweenRotateActivity"
            android:label="旋转动画"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tween.rotate.MusicActivity"
            android:label="旋转动画"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.tween.rotate.RotateLoadingActivity"
            android:label="RoateLoading动画"
            android:screenOrientation="portrait" />

        <!---属性动画-->
        <activity
            android:name=".activity.property.PropertyDemoActivity"
            android:label="属性动画综合实例"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.property.BallActivity"
            android:label="自定义估值器"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.property.PingoLoginActivity"
            android:label="随遇"
            android:screenOrientation="portrait" />

        <!---Lottie动画-->
        <activity
            android:name=".activity.lottie.AutoHomeActivity"
            android:label="汽车之家"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lottie.BossActivity"
            android:label="BOSS直聘"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lottie.CardActivity"
            android:label="每日打卡"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lottie.XhsActivity"
            android:label="小红书"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.lottie.PdjGuideActivity"
            android:label="京东到家"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.lottie.HuoChatActivity"
            android:label="火信"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.lottie.KMailActivity"
            android:label="KMail"
            android:screenOrientation="portrait" />

        <!---ViewPager动画-->
        <activity
            android:name=".activity.ViewPagerActivity"
            android:label="ViewPager动画"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.viewpager.WeChatActivity"
            android:label="Wechat"
            android:screenOrientation="portrait" />
        <!--Spark-->
        <activity
            android:name=".activity.SparkSplashActivity"
            android:label="Spark"
            android:screenOrientation="portrait" />

        <!-- 转场动画-->
        <activity
            android:name=".activity.TransitionActivity"
            android:label="转场动画"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.transition.ShareElementOneActivity"
            android:label="共享元素动画"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.transition.ShareElementTwoActivity"
            android:label="共享元素动画"
            android:screenOrientation="portrait" />

        <!--GIF动画-->
        <activity
            android:name=".activity.GifActivity"
            android:label="GIF动画"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.gif.GlideActivity"
            android:label="Glide加载GIF"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.gif.GiflibActivity"
            android:label="giflib加载Gif"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.gif.FrameSequenceActivity"
            android:label="FrameSequence加载Gif"
            android:screenOrientation="portrait" />

        <!--SVGA动画-->
        <activity
            android:name=".activity.SVGAActivity"
            android:label="SVGA动画"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.svga.ZiroomActivity"
            android:label="Ziroom"
            android:screenOrientation="portrait" />

        <!--Telegram动画-->
        <activity
            android:name=".activity.TelegramActivity"
            android:label="Telegram"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.telegram.IntroActivity"
            android:label="Telegram Intro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.telegram.TgsActivity"
            android:label="Telegram Sticker"
            android:screenOrientation="portrait" />

<!--        <provider-->
<!--            android:name="androidx.startup.InitializationProvider"-->
<!--            android:authorities="${applicationId}.androidx-startup"-->
<!--            android:exported="false"-->
<!--            tools:node="merge">-->
<!--            <meta-data-->
<!--                android:name="com.github.kongpf8848.animation.StartInitializer"-->
<!--                android:value="androidx.startup" />-->
<!--        </provider>-->

    </application>

</manifest>